@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);


body, html {
  background:#E9E9E9;
  margin: 0;
  padding: 0;
  display:block;
  max-width: 100%;min-width:auto;
  max-height: 100%;min-height:auto;
}
h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  @page {
    size: a3;
  }
body {
  font-family: Roboto;
  font-size: 12px;
  color: #424242;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
h3, .h3 {
font-size: 1.75rem;
}
header, nav, footer, section, article, div {
  box-sizing: border-box
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ____________________Custom scrollbar________________ */
.left-wrapq {
 position: absolute; height:900px; width:100%; overflow: hidden;
}
.left-barq {
 max-width: 100%; max-height: 100%; /* Prevents it from auto sizing to its content */ position:absolute; left: 0px;right: 0px; /* Shifts element to the right */ padding-right: 0;top:5.8pc; /* Uses padding to move element back into position */ overflow-y: scroll; /* Makes sure that there is a scrollbar linear-gradient */ 
}

::-webkit-selection{
  color:#f55;font-weight:bolder;background:rgba(0,0,0,.5);
}::-moz-selection{
  color:#f55;font-weight:bolder;background:rgba(0,0,0,.5);
}::selection{
color:#000;font-weight:bolder;background:rgba(0,255,0,.99);}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d; 
}
/*
 *
 * Common
 * 
 */

.news__more {
  float: right;
  font-size: .8em;
  color: #333;
  text-decoration: none;
}


/*
 *
 * Header
 *
 */

.header {
	position:fixed;
	left:0;right:0;
    box-shadow: 8px 8px 15px rgba( 0, 0, 0,0.26);
    min-height: 56px;
	background:rgba( 255, 255,255, 0.99);
    color: #fff;
    z-index:900;
    transition: all 0.1s ease-in-out;
}

.header__inner {
  max-width: 100%;
  min-width: 80%;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  height: 72px;
  margin-right: 1em;
  vertical-align: top;
  margin-top: 12px;
}

.header__title {
  font-weight: 300;
  font-size: 4em;
  margin: 0.5em 0.25em;
  display: inline-block;
  color: #212121;
}


/*
 *
 * Top Level Navigation
 *
 */

.nav {
  max-width:55%;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  width: 100%;
  padding: 0;
  margin: 0;
}.nav__item {
  box-sizing: border-box;
  display: inline-block;
  width: 24%;
  padding: 24px;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
}
/*_____nav__menu_left & nav__menu_right________*/
.nav__menu_left {
	display:none;opacity:;
	position:fixed;left:0;bottom:0;top:177px;
	box-sizing: border-box;
   /* display: inline-block;*/
    width: 17%;float:left;
    padding: 24px;
	box-shadow: 8px 8px 15px rgba( 0, 0, 0,0.26);
	background:rgba( 255, 255,255, 0.99);
}
.nav__menu_right {
	display:none;
	position:fixed;right:0;bottom:0;top:177px;
    box-sizing: border-box;
   /*  display: inline-block;*/
    width: 17%;
    padding: 24px;
	box-shadow: -8px 0px 15px rgba( 0, 0, 0,0.26);
	background:rgba( 255, 255,255, 0.99);
}

.nav a {
  text-decoration: none;
  color: #616161;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}


/*
 *
 * Main
 *
 */

main.main_body {
  background:#fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 790px;
  margin-left: auto;
  margin-right: auto;
}.nav-up{
	top:-108px;transition: all 0.1s ease-in-out;
}
.nav-down{
	top:0px;transition: all 0.1s ease-in-out;
}
.menu-up{
	top:69px;transition: all 0.1s ease-in-out;
}
.menu-down{
	top:177px;transition: all 0.1s ease-in-out;
}
/*
 *
 * Trying out to use Media
 *
 */
 
 /* To toggle the hidden menu on small screens  */
.menubar{
	width:.1px;height:.1px;display:none;
}
.menubar:hover{	
	 border:5px solid transparent;
	 cursor:pointer;
	 transition:all .2s ease-in-out;
	 	
 }.menubar:active{
	 box-shadow: 0 3px 25px rgba(0, 0, 0, 0.26);		 
	 transition:all .2s ease-in-out;
 }.menubar:focus{
	 min-height:40px;
	 min-width:60px;
     outline-style:ridge;outline-width:2px;outline-color:#00c7ff;margin-right:5px;	 
	 transition:all .2s ease-in-out;
 }
@media screen and (max-width:780px){	
	*:not(.nav__list){
        font-size:10pt;		
	}
	.header{
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.26);
        min-height: 56px;height: 36px;
        transition: min-height 0.3s ease-in-out;margin-bottom:.309rem;
	}
	.header>div>img{
        min-height: 36px;height: 26px;margin-left:9px;
        transition: min-height 0.3s ease-in-out;
	}
	.nav{
		background:rgba(255,255,255,.7);	
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.26);
		max-width: 90%;
		min-width: 70%;
		max-height: 70%;
		min-height: 26px;
		position:absolute;
		top:3.5pc;left:5px;right:5px;
		z-index:2;
        transition: all 1.3s ease-in-out;
	}h1.header__title{
		font-size:18pt;font-weight:900;text-shadow: 0 3px 5px rgba(0, 0, 0, 0.26);;
	}
	.screen_change{
		display:none;
		opacity:0;	
	}img.weather__today__image {
  width: 100%;max-height:480px;
  vertical-align: middle
}
    .menubar{
	 min-height:40px;
	 min-width:50px;
	 margin-top:10px;
	 margin-right:5px; 
	 float:right;
	 background:url("../images/menu.png") no-repeat 100% ;		
	 border:5px solid transparent;	 
	 outline-color:#0680ff;
	 opacity:1;
	 display:block;
	 transition:all .2s ease-in-out;
    }
	main{
		max-width: 80%;
        width: 700px;
        margin-left: auto;
        margin-right: auto;		
	}.nav__item,.nav__list,.nav{
        margin-left: auto;
        margin-right: auto;
        font-size:8pt;		
	}table.scores__table{
		width: 100%;
	}section.recent-news {  
     width: 100% ;
    }img.weather__today__image {
  width: 100%;max-height:480px;
  vertical-align: middle
}
	.nav__menu_left{display:none}
	.nav__menu_right{display:none}
    .hero,.top-news,.scores,.weather {
		max-width: 100%;
		width: 80%;
        margin-left: auto;
        margin-right: auto;
    }section.hero{		
       margin-top:50px;
	}
}
/*   Devices like Ipad*/
@media screen and (max-width:875px){
	main{
		max-width: 100%;
        width: 700px;
        margin-left: auto;
        margin-right: auto;		
	}
    .hero,.top-news,.scores,.weather {
		max-width: 100%;
		min-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
	.nav__menu_left{display:none}
	.nav__menu_right{display:none}
}
/*   Devices like Ipad pro*/
@media screen and (max-width:1024px){
	.header__title{		
		 font-size:2.244em;		
	}
	main{
		max-width: 100%;
        width: 800px;
        margin-left: auto;
        margin-right: auto;		
	}
    .hero,.top-news,.scores,.weather {
		min-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    nav.nav{
		font-size:14pt;		
	}.top-news{
		margin-top:10px;
	}
	.nav__menu_left{display:none}
	.nav__menu_right{display:none}
}

/*

 *
 * Content
 *
 */


/*
 *
 * Hero
 *
 */

.hero {
  float: left;
  width: 789.5px;
  position: relative;
  background: url("../images/blue_2.jpg") no-repeat center 50%;
  background-size: cover;
  min-height: 500px;
  margin-top:189px;
  margin-bottom:28px;
  box-shadow: -1px 8px 25px rgba(0, 0, 0, 0.26);
}

.hero article {
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  color: #fff;
  padding: 1em;
}


/*
 *
 * Top News
 *
 */

.top-news {
  float: right;  
  width: 789.5px;
  min-height: 500px;
  margin-bottom:28px;
  box-shadow: -1px 8px 25px rgba(0, 0, 0, 0.26);
  border-bottom: 1px solid #E0E0E0;
  padding: 1em;
}

.news__title {
  font-weight: 300;
  border-bottom: 1px solid #E0E0E0;
  line-height: 24px;
  font-size: 16px;
}

.top-news__item {
  border-bottom: 1px solid #E0E0E0;
  padding: 1em 0;
  line-height: 19.2px;
  
}

.top-news__item:before {
  content: "» ";
}

.top-news__item:last-child {
  border-bottom: none;
}

.top-news__item a {
  text-decoration: none;
  color: #666;
}

.top-news__item a:hover,
.top-news__item a:active {
  text-decoration: underline;
}


/*
 *
 * Sport Scores
 *
 */

.scores {
  width: 480px;
  float: left;
  padding-top: 1em;
}

.scores__table {
  border-collapse: collapse;
  width: 789.5px;
  min-height: 500px;
  margin-bottom:28px;
  box-shadow: -1px 8px 25px rgba(0, 0, 0, 0.26);
}

.scores__table th,
.scores__table td {
  padding: 1em; 
}.scores__table td:first-letter,p:first-letter {
  text-transform:uppercase;
}

.scores__table th {
  color: #fff;
  font-weight: 300;
  background-color: #78909C;
}

.scores__table tr:nth-child(odd) td {
  background-color: #fff;
}

.scores__table tr:nth-child(even) td {
  background-color: #eceff1;
}

.scores__table td.winner {
  font-weight: bold;
}

.scores__table td:nth-child(3) {
  text-align: right;
}
.scores__table th:first-letter {
	 text-transform:uppercase
 }
.scores__table td:nth-child(2),
.scores__table td:nth-child(5) {
  text-align: center;
}

/*
 *
 * Weather
 *
 */

.weather {
  float: right;
  padding: 1em;
  width: 789.5px;
  min-height: 500px;
  margin-bottom:28px;
  box-shadow: -1px 8px 25px rgba(0, 0, 0, 0.26);
}

.weather__location {
  display: block;
  font-weight: 300;
  font-size: 1.5em;
}

.weather__desc {
  display: block;
  font-size: 1.2em;
}

.weather__today {
  width: 60%;
  vertical-align: middle;
}

.weather__today__image {
  width: 100%;max-height:780px;
  vertical-align: middle
}

.weather__today__temp {
  font-size: 3em;
}

.weather__today__deg {
  font-size: 2em;
  display: inline;
}

.weather__next__item {
  display: inline-block;
  width: 20%;
  text-align: center;
}

.weather__next__item span {
  display: block;
}

.weather__next__image {
  width: 100%;
}


/*
 *
 * Weather
 *
 */

.recent-news {
  clear: both;
  padding: 1em;
  width: 789.5px;
  min-height: 500px;
  margin-bottom:28px;
  box-shadow: -1px 8px 25px rgba(0, 0, 0, 0.26);
}

.snippet {
  clear: both;
  margin: 24px 0;
}

.snippet__thumbnail {
  min-width: 100px;
  float: left;
  margin-right: 1em;
}

.snippet__title {
  font-weight: 900;
}

.snippet__title a {
  text-decoration: none;
  color: #666;
}

.snippet__title a:hover,
.snippet__title a:active {
  text-decoration: underline;
}

/*
 *
 * video player
 *
 */

.main {
  display: none;
  position: fixed;
  transition: left 300ms, right 300ms, top 300ms, bottom 300ms;
  background-color: maroon;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5), 0 5px 10px rgba(0, 0, 0, 0.5);
  z-index:89;
}
.layer{  
  position: fixed;
  top: 0px;
  bottom: -550px;
  left: 0;
  right: 0;
  z-index:89;
  background:rgba(255, 255, 255,.99);
  display:none;
}
@media screen and (min-width: 800px) {
  .main {
    left: 10%;
    right: 10%;
    top: 10%;
    bottom: 10%;
    font-size: 24px;
  }
}
@media screen and (min-width: 376px) and (max-width: 800px) {
  .main {
    left: 10px;
    right: 10px;
    top: 30px;
    bottom: 30px;
    font-size: 20px;
  }
}
@media screen and (max-width: 376px) {
  .main {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
}

.main:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 100%;
  height: 0;
  border-top: 5px solid #5e0000;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

#media-player {
  display: block;
  position: absolute;
  top: 0;
  bottom: 64px;
  left: 0;
  right: 0;
  background-color: transparent;
}

#media-video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ctrl-box {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 64px;
  bottom: 0;
  margin-top: -5px;
  background: transparent;
}

@media screen and (max-width: 376px) {
  .ctrl-box {
    position: absolute;
    bottom: 0;
  }

  #media-player {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 64px;
  }

  #media-video {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    object-fit: cover;
  }
}

.player {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 7px;
  left: 7px;
  border: none;
  outline: none;
  font-family: lato, sans;
  color: rgba(250, 250, 250, 0.75);
  background: #fff ;
  border-radius: 50%;
  overflow: hidden;
}.play {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 7px;
  left: 7px;
  border: none;
  outline: none;
  font-family: lato, sans;
  color: rgba(250, 250, 250, 0.75);
  background: transparent;
  border-radius: 50%;
  overflow: hidden;
}

.playback {
  display: block;
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-image: url(http://matt.schneideriii.com/resources/avatar-def.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 200ms;
  transform: scale(0);
}

.playfront {
  display: block;
  position: absolute;
  height: 50px;
  width: 50px;
  line-height: 50px;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 5;
}

.data-name {
  font-family: lato, sans;
  color: rgba(250, 250, 250, 0.75);
  display: block;
  position: absolute;
  left: 64px;
  right: 7px;
  top: 4px;
  height: 32px;
  line-height: 32px;
  font-size: 1em;
  text-decoration: none;
  overflow: hidden;
}

.data-video {
  font-family: lato, sans;
  color: rgba(250, 250, 250, 0.75);
  display: block;
  position: absolute;
  left: 64px;
  right: 0;
  bottom: 0;
  height: 32px;
  line-height: 32px;
  font-size: 0.8em;
  text-decoration: none;
  overflow: hidden;
}

.play-bar {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: rgba(250, 250, 250, 0.75);
}

 
 
/*
 *
 * Footer weather__today__image
 *
 */

footer {
  border-top: 1px solid #E0E0E0;
  padding: 3em;position:relative;
  width: 100%;left:0;right:0;
  min-height: 50px;background:rgba(0, 0, 0, 0.96);
  box-shadow: -1px 8px 25px rgba(0, 0, 0, 0.26);
}

footer li {
  display: inline-block;
  margin: 0 1em;
}

footer a {
  text-decoration: none;
  color: #333;
}
footer a:hover {
  text-decoration: none;
  color: rgba(0,255,0,.7);
  transition:color .2s ease;
}
[onclick="showImage(this)"]{
	cursor:pointer;
}
[onclick="showImage(this)"]:hover,[class="menubar"]:hover{
	opacity:.6;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}
.love {
  text-decoration: none;
  color: #f00;
}
